doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery/jquery-1.9.1.min.js')
    script(src='javascripts/chai/chai.js')
    script(src='javascripts/mocha/mocha.js')
    block needleScript

  body
    block content